@model EscolaInfoSys.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<h2 class="page-title">Course Details</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>
        </dl>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary ms-2">Back</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}