@model EscolaInfoSys.Models.StaffMember

@{
    ViewData["Title"] = "Staff Member Details";
}

<h2 class="page-title"><i class="fa fa-id-card"></i> Staff Member Details</h2>

<div class="card p-4">
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.FullName)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.FullName)</dd>
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Email)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(m => m.Email)</dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back to List</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
