@model EscolaInfoSys.Models.Mark

@{
    ViewData["Title"] = "Delete";
}
<h2 class="page-title"><i class="fa fa-trash"></i> Delete Mark</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Value)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Value)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Date)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Date)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Student)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Student.Email)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Subject)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Subject.Id)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.EvaluationType)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.EvaluationType)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.StaffMember)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.StaffMember.Email)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
            <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-times"></i> Cancel</a>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

