@model EscolaInfoSys.Models.Mark

@{
    ViewData["Title"] = "Details";
}

<h2 class="page-title"><i class="fa fa-info-circle"></i> Mark Details</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Value)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Value)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Date)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Date)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Student)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Student.Email)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.Subject)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.Subject.Id)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.EvaluationType)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.EvaluationType)</dd>
            <dt class="col-sm-3">@Html.DisplayNameFor(m => m.StaffMember)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => m.StaffMember.Email)</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="fa fa-edit"></i> Edit</a>
        <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Back</a>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
