@model EscolaInfoSys.Models.FormGroup
@{
    ViewData["Title"] = "Form Group Details";
}

<h2 class="page-title"><i class="fa fa-info-circle"></i> Form Group Details</h2>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Number of Students</dt>
            <dd class="col-sm-9">@Model.Students?.Count()</dd>

            <dt class="col-sm-3">Subjects</dt>
            <dd class="col-sm-9">
                @if (Model.Course != null && Model.Course.Subjects != null && Model.Course.Subjects.Any())
                {
                    <ul>
                        @foreach (var subject in Model.Course.Subjects)
                        {
                            <li>@subject.Name</li>
                        }
                    </ul>
                }
                else
                {
                    <span class="text-muted">No subjects</span>
                }
            </dd>


            <dt class="col-sm-3">Course</dt>
            <dd class="col-sm-9">@Model.Course?.Name <span class='text-muted'></span></dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
            <i class="fa fa-edit"></i> Edit
        </a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
