@model EscolaInfoSys.Models.Student
@{
    ViewData["Title"] = "Delete Student";
}

<h2 class="text-danger">Are you sure you want to delete this student?</h2>

<div class="card p-4 mt-3">
    <dl class="row">
        <dt class="col-sm-4">Full Name</dt>
        <dd class="col-sm-8">@Model.FullName</dd>

        <dt class="col-sm-4">Pupil Number</dt>
        <dd class="col-sm-8">@Model.PupilNumber</dd>

        <dt class="col-sm-4">Email</dt>
        <dd class="col-sm-8">@Model.Email</dd>

        <dt class="col-sm-4">Profile Photo</dt>
        <dd class="col-sm-8">@Model.ProfilePhoto</dd>

        <dt class="col-sm-4">Document Photo</dt>
        <dd class="col-sm-8">@Model.DocumentPhoto</dd>

        <dt class="col-sm-4">Form Group</dt>
        <dd class="col-sm-8">@Model.FormGroup?.Name</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
