@model EscolaInfoSys.Models.Student

@{
    ViewData["Title"] = "Student Details";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa fa-user text-info me-2"></i> Student Details
        </h3>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Full Name</dt>
            <dd class="col-sm-9">@Model.FullName</dd>

            <dt class="col-sm-3">Student Number</dt>
            <dd class="col-sm-9">@Model.PupilNumber</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Class</dt>
            <dd class="col-sm-9">@Model.FormGroup?.Name</dd>

            <dt class="col-sm-3">Profile Photo</dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.ProfilePhoto))
                {
                    <img src="@Model.ProfilePhoto" class="img-thumbnail" width="100" />
                }
                else
                {
                    <span class="text-muted">No photo</span>
                }
            </dd>

            <dt class="col-sm-3">Document Photo</dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.DocumentPhoto))
                {
                    <img src="@Model.DocumentPhoto" class="img-thumbnail" width="100" />
                }
                else
                {
                    <span class="text-muted">No document</span>
                }
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fa fa-arrow-left me-1"></i> Back to List
        </a>
    </div>
</div>