@model IEnumerable<EscolaInfoSys.Models.Student>
@{
    ViewData["Title"] = "Students";
}


<h2><i class="fa fa-users"></i> Students</h2>

<a asp-action="Create" class="btn btn-primary mb-3"><i class="fa fa-user-plus"></i> Create New Student</a>

<table class="table card-table table-vcenter">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Pupil Number</th>
            <th>Email</th>
            <th>Form Group</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FullName</td>
                <td>@item.PupilNumber</td>
                <td>@item.Email</td>
                <td>@item.FormGroup?.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
